/* colors: #caf0f8 #edf2f4 #1f233b #90e0ef */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f233b;
  color: #edf2f4;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0077b6;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90e0ef;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #caf0f8;
}

/* navigation */

.navbar {
  border-bottom: 1px solid #edf2f4;
}
.navbar .navbar-brand {
  color: #edf2f4;
}
.navbar .navbar-brand img {
  width: 30px;
  margin-right: 10px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.navbar-toggler-icon {
  margin-top: 15%;
  background-image: none;
  color: #edf2f4;
  display: flex;
  flex-wrap: wrap;
}
/* burger */
.bar {
  width: 100%;
  height: 2px;
  background-color: #edf2f4;
  transition: 0.3s;
}
.bar:nth-of-type(1).active {
  transform: rotate(45deg) translate(6px, 7px);
}
.bar:nth-of-type(2).active {
  transform: scale(0);
}
.bar:nth-of-type(3).active {
  transform: rotate(-45deg) translate(8px, -8px);
}

.navbar-nav .nav-link {
  color: #edf2f4;
}
.navbar-nav .nav-link.active {
  color: #90e0ef;
  font-weight: 700;
}

/* header */

.header {
  margin: 10% auto;
  width: 90%;
}
.header .title {
  color: #caf0f8;
  font-size: 1.8em;
  line-height: 130%;
  text-align: center;
}
.header .title span {
  color: #90e0ef;
  font-size: 1.4em;
}
.header p {
  margin: 5% 0;
  font-size: 0.9em;
  text-align: center;
}
.header a {
  display: block;
  margin: 0 auto;
  padding: 3% 2%;
  width: 60%;
  color: #edf2f4;
  background-color: #0077b6;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

main {
  margin: 20% auto 5%;
  width: 95%;
}

main h2 {
  margin: 5% 0;
  font-size: 1.3em;
  color: #caf0f8;
  text-align: center;
}

main p {
  text-align: center;
}

/* cart */
.trending-places {
  width: 95%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
.trending-places .cart {
  margin: 5% 0;
  width: 100%;
  border: 1px solid #90e0ef;
  border-radius: 5px;
  text-align: center;
}
.trending-places .cart img {
  width: 100%;
  border-radius: 5px;
}
.trending-places .cart h3 {
  margin-block: 5%;
  font-size: 1.2em;
}
.trending-places .cart p {
  width: 90%;
  margin: 5% auto;
  font-size: 0.8em;
}

/* info */
.info {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.info h2 {
  padding: 5% 0;
  font-size: 1.3em;
  border-top: 2px solid #90e0ef;
  border-bottom: 2px solid #90e0ef;
}
.info p {
  margin: 5% 0;
  width: 95%;
}

/* footer */
footer {
  padding: 5%;
  text-align: center;
  border-top: 1px solid #90e0ef;
}

@media screen and (min-width: 550px) {
  .header {
    margin: 5% auto;
    width: 90%;
  }
  .header p {
    font-size: 1em;
  }
  .header a {
    width: 50%;
  }
  main {
    margin: 15% auto 5%;
    width: 90%;
  }

  main h2 {
    margin: 5% 0;
    font-size: 1.3em;
  }

  .trending-places {
    width: 90%;
  }
  .trending-places .cart {
    margin: 4% 0;
  }
  .trending-places .cart h3 {
    margin-block: 5%;
    font-size: 1.3em;
  }
  .trending-places .cart p {
    font-size: 0.9em;
  }
  .info {
    width: 85%;
  }
  .info h2 {
    font-size: 1.4em;
  }
  .info p {
    margin: 4% 0;
  }
  footer {
    padding: 3%;
  }
}
@media screen and (min-width: 700px) {
  main h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 800px) {
  .header {
    width: 85%;
  }
  .header .title {
    font-size: 2em;
  }
  .header p {
    font-size: 1.1em;
  }
  .header a {
    width: 45%;
  }
  main {
    margin: 10% auto 5%;
    width: 85%;
  }
  main h2 {
    margin: 5% 0;
    font-size: 1.5em;
  }
  main p {
    font-size: 1.2em;
  }
  .trending-places {
    width: 85%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trending-places .cart {
    width: 47%;
  }
  .info {
    width: 72.5%;
  }
  footer {
    padding: 2%;
  }
}
@media screen and (min-width: 1000px) {
  .container-fluid {
    margin-left: 15%;
  }
  .navbar .navbar-brand {
    font-size: 1.4em;
  }

  .navbar-nav {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  a.nav-link {
    font-size: 1.2em;
  }
  a.nav-link:hover {
    color: #90e0ef;
  }
  .header {
    width: 75%;
  }
  .header a {
    padding: 2% 1%;
    width: 35%;
    transition: 0.4s;
  }
  .header a:hover {
    background-color: #90e0ef;
    color: black;
  }
  main {
    margin: 7.5% auto 5%;
    width: 75%;
  }
  .trending-places {
    width: 85%;
  }
  .trending-places .cart {
    margin: 3% 0;
    width: 48%;
  }
  .info {
    margin-block: 3%;
    width: 64%;
  }
  footer {
    padding: 1%;
  }
}
@media screen and (min-width: 1300px) {
  .container-fluid {
    margin-left: 15%;
  }
  .header {
    width: 70%;
  }
  .header a {
    width: 30%;
  }
  .trending-places {
    width: 85%;
  }
  .trending-places .cart {
    margin: 2% 0;
    width: 49%;
  }
}
@media screen and (min-width: 1450px) {
  .container-fluid {
    margin-left: 17.5%;
  }
  .header .title {
    font-size: 2.2em;
  }
  .header p {
    font-size: 1.3em;
  }
  .header a {
    font-size: 1.2em;
    width: 30%;
  }
  main h2 {
    margin: 3% 0;
    font-size: 1.8em;
  }
  main p {
    font-size: 1.4em;
  }
  .info h2 {
    padding: 3% 0;
    font-size: 1.5em;
  }
  .info p {
    margin: 3% 0;
    font-size: 1.2em;
  }
}
