.places-container {
  width: 95%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
.places-container .cart {
  margin: 5% 0;
  width: 100%;
  border: 1px solid #90e0ef;
  border-radius: 5px;
  text-align: center;
}
.places-container .cart img {
  width: 100%;
  border-radius: 5px;
}
.places-container .cart h3 {
  margin-block: 5%;
  font-size: 1.2em;
}
.places-container .cart p {
  width: 90%;
  margin: 5% auto;
  font-size: 0.8em;
}
.places-container .cart button {
  margin: 5% 0;
  padding: 3% 2%;
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: #4e5580;
  color: white;
}
.modal-form {
  position: fixed;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  padding: 2% 3%;
  width: 95%;
  border: 1px solid #90e0ef;
  background-color: #1f233b;
  color: white;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-form .place {
  text-align: center;
}
.modal-form .place img {
  width: 100%;
  border: 1px solid #90e0ef;
}
.modal-form .place h3 {
  margin-block: 5px;
}
.modal-form .date-warning {
  margin: 0;
  display: none;
  color: red;
}
.modal-form .date-warning.active {
  display: block;
}

form label {
  margin: 1% 0;
  width: 100%;
  font-size: 1.1em;
}

form input[type='text'] {
  outline: none;
}
form input[type='email'] {
  margin-left: 10%;
  outline: none;
}

form label.date {
  margin-right: 2%;
  width: 45%;
  font-size: 1em;
}
form input[type='date'] {
  width: 100%;
}
legend {
  margin-block: 2%;
  font-size: 1.1em;
}
form #radios label {
  width: 33%;
  font-size: 1em;
}
form #checkboxs label {
  width: 45%;
  margin-block: 0;
  font-size: 1em;
}
form #checkboxs input {
  margin-right: 3%;
}
dialog button {
  padding: 1%;
  width: 100%;
  border: none;
  background-color: #4e5580;
  color: white;
}
form button {
  margin-block: 5% 2%;
}
